<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light topper"><span class="font-popular-medium"><a href="https://www.startribune.com/local/coronavirus/">Coronavirus</a></span></h5>
    <h1>How Minnesota's skies changed during lockdown</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2020-05-09T16:00:00">May 19, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

      <section class="container-lg leadin">
        <p>Since coronavirus quarantines started slowing society's normal daily grind, data show the skies became cleaner, clearer and less crowded.</p>

        <p>Using satellite imagery and tracking statistics from various sources reveals a few ways reduced human activity on the ground changed what's happening above the clouds in terms of air traffic, light emissions and atmospheric pollution.</p>

        <p>As shelter-in-place rules start to ease in Minnesota and nationwide, these trends are likely to reverse – and some already are in the process.</p>

        <p>Explore the maps below to compare conditions observed in Minnesota's airspace before and after lockdown orders were enacted.</p>
      </section>

      <div class="rule"></div>
      <section class="container-lg leadin">
        <h2 class="chartTitle">Air traffic dwindled</h2>
        <p>Far fewer planes are soaring over Minnesota compared to earlier this year, as airlines reduce scheduled flights in response to plummeting passenger demand and public health guidance discouraging air travel.</p>

        <p>Though many airports remain open and travel is still allowed, the shutdown of some airlines and fears concerning COVID-19's spread have kept Minnesotans and other Americans mostly on the ground.</p>

        <p>Using sampled snapshots of air traffic tracked by <a href="https://opensky-network.org/">The OpenSky Network</a> during the 7:00 p.m. hour shows noticably fewer flights overhead on a Monday in May compared to a Monday in January.</p>
        <p>&nbsp;</p>
      </section>

      <div class="slide" id="flights">
          <div class="legend">
            <div class="l"><span class="dot middle"></span> tracked flight</div>
          </div>
          <div class="signs"><div class="left">&#8678; January 6, 2020</div><div class="right">May 11, 2020 &#8680;</div></div>
        <div id="comparison-container1">
            <div id="before1" class="sidemap"></div>
            <div id="after1" class="sidemap"></div>
        </div>
      </div>

        <section class="container-lg leadin">
          <p>Another tracking website, FlightRadar24, <a href="https://www.flightradar24.com/blog/then-and-now-visualizing-covid-19s-impact-on-air-traffic/" target="new_">showed thousands fewer flights over the U.S.</a> between March and April.</p>
          
          <p>The TSA, meanwhile, reports only around 200,000 passengers passing through airport security checkpoints each day in May nationally – down from about 2 million before the pandemic.</p>
        </section>

        <div class="rule"></div>
        <section class="container-lg leadin">
          <h2 class="chartTitle">Nightlights dimmed, then brightened</h2>
          <p>With many Minnesotans working from home and many businesses either shuttered or keeping shorter hours, Minnesota's population centers started radiating less light at night as pandemic lockdowns took hold.</p>

  
          <p><a href="https://maps.ngdc.noaa.gov/viewers/VIIRS_DNB_nighttime_imagery/index.html" target="new">NOAA and NASA's VIIRS satellite</a> measures nighttime radiance from cities, and shows the Twin Cities metro was far brighter in late February compared late March after shelter-in-place was instituted.</p>
          
          <p>&nbsp;</p>
        </section>
  
        <div class="slide" id="lights">
            <div>Nightly radiance</div>
            <div class="legend">
                <div class="l label">less </div> <div class="l ramp" style="background-color:#000000;"></div><div class="l ramp" style="background-color:#2A2A2A;"></div><div class="l ramp" style="background-color:#555555;"></div><div class="l ramp" style="background-color:#7F7F7F;"></div><div class="l ramp" style="background-color:#AAAAAA;"></div><div class="l ramp" style="background-color:#D4D4D4;"></div><div class="l ramp" style="background-color:#efefef;"></div> <div class="l label"> more</div>
            </div>
            <div class="signs"><div class="left">&#8678; February 21, 2020</div><div class="right">March 30, 2020 &#8680;</div></div>
            <div id="comparison-container3">
                <div id="after3" class="sidemap"><img class="overlaid" src="./img/lights-after.png" /></div>
                <div id="before3" class="sidemap"><img class="overlaid" src="./img/lights-before.png" /></div>
            </div>
        </div>

        <section class="container-lg leadin">
            <p>&nbsp;</p>
            <p>While environmental conditions can affect radiance measurements, which can fluctuate each night, historical data suggests March was much dimmer than average.</p>
            <p>Comparing monthly radiance averages from 2019 to samples of 2020 VIIRS captures suggests city lights emitted closer to normal radiance in February, dramatically less in March and started normalizing in April.</p>
            <p>&nbsp;</p>
        </section>


        <div class="slide" id="lights2">
          <div class="adjacent">
            <div class='maplabel'>February 2019 average radiance</div>
            <img class="overlaid" src="./img/201902.png" />
          </div>
          <div class="adjacent">
            <div class='maplabel'>February 21, 2020</div>
            <img class="overlaid" src="./img/lights-before.png" />
          </div>

          <div class="adjacent">
              <div class='maplabel'>March 2019 average radiance</div>
              <img class="overlaid" src="./img/201903.png" />
          </div>
          <div class="adjacent">
              <div class='maplabel'>March 30, 2020</div>
              <img class="overlaid" src="./img/lights-after.png" />
          </div>

          <div class="adjacent">
              <div class='maplabel'>April 2019 average radiance</div>
              <img class="overlaid" src="./img/201904.png" />
          </div>
          <div class="adjacent">
            <div class='maplabel'>April 30, 2020</div>
            <img class="overlaid" src="./img/20200430.png" />
          </div>
        </div>
  
        <section class="container-lg leadin">
          <p>Dimmer lighting at night reduces skyglow above cities, though <a href="https://www.nasa.gov/feature/goddard/2020/nasa-funds-four-research-projects-on-covid-19-impacts" target="new_">NASA is currently backing new studies</a> to better understand, among other things, the extent COVID-19 shutdowns have affected light pollution levels.</p>

          <p>The International Monetary Fund found that nighttime light emissions <a href="https://www.imf.org/en/Publications/WP/Issues/2019/04/09/Illuminating-Economic-Growth-46670" target="new_">are a close proxy for economic activity</a>. <a href="https://sloanreview.mit.edu/article/monitoring-the-covid-19-crisis-from-space/" target="new_">Researchers at MIT</a>, meanwhile, found significant reductions in light emissions across Chinese provinces as quarantines started earlier in the year.</p>
  
          <p>With with businesses reopening this month, radiance levels are likely to keep intensifying again – though skies may remain slightly darker than usual since most typical nightlife activities are still cancelled. </p>
        </section>

      <div class="rule"></div>
      <section class="container-lg leadin">
        <h2 class="chartTitle">Atmopsheric pollution decreased, then returned</h2>
        <p>The skies also became somewhat cleaner, for a while, due in part to fewer vehicles on roads thoughout the state.</p>

        <p>The European Space Agency's Copernicus Sentinel-5P satellite measures the volume of nitrogen dioxide (NO2) in the atmosphere, excess of which is a byproduct of human activity as it's formed when fossil fuels are burned at high temperatures.</p>

        <p>Comparing pollution maps from late February (shortly before things started slowing down) to late April (after a full month of shelter-in-place) shows a noticable reduction in average NO2 emissions, particularly around the Twin Cities metro area. The ESA, which has been measuring  <a href="https://www.esa.int/Applications/Observing_the_Earth/Copernicus/Sentinel-5P/Coronavirus_lockdown_leading_to_drop_in_pollution_across_Europe">similar reductions elsewhere</a>, attributes these changes to quarantines.</p>
        <p>&nbsp;</p>
      </section>

      <div class="slide" id="pollution">
          <div>Nitrogen dioxide levels</div>
          <div class="legend">
            <div class="l label">less </div> <div class="l ramp" style="background-color:#eeeeee;"></div><div class="l ramp" style="background-color:#D9D3EB;"></div><div class="l ramp" style="background-color:#B6AED4;"></div><div class="l ramp" style="background-color:#7D739C"></div><div class="l ramp" style="background-color:#62597D;"></div><div class="l ramp" style="background-color:#4A4061;"></div><div class="l ramp" style="background-color:black;"></div> <div class="l label"> more</div>
          </div>
          <div class="signs"><div class="left">&#8678; February 29, 2020</div><div class="right">April 30, 2020 &#8680;</div></div>
          <div id="comparison-container2">
              <div id="after2" class="sidemap"><img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/20200507-no2.png" /></div>
              <div id="before2" class="sidemap"><img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/20200209-no2.png" /></div>
          </div>
      </div>

      <section class="container-lg leadin">
          <p>&nbsp;</p>
        <p>Yet as summer weather arrives and restrictions are scaled back, it seems pollution levels are already starting to increase again in tandem with <a href="https://www.startribune.com/how-minnesotans-are-lightening-up-on-social-distancing/568966921/">normalizing traffic volume on Minnesota's roads</a>.</p>

        <p>A sample of Copernicus Sentinel-5P data from May 11 and 12 shows NO2 emission levels somewhat resurging.</p>
        <p>&nbsp;</p>
      </section>

      <div class="slide" id="pollution2">
          <img class="overlaid" src="./img/20200511-no2.png" />
      </div>

<section class="container-lg">
    <p>&nbsp;</p>
    <div class="bottom_byline">Maps: Jeff Hargarten, Star Tribune • Sources: OpenSky Network, European Space Agency, NOAA, NASA, Google Earth Engine</div>

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minnesota's skies changed during lockdown" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>