<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light topper"><span class="font-popular-medium"><a href="https://www.startribune.com/local/coronavirus/">Coronavirus</a></span></h5>
    <h1>How Minnesota's skies changed during lockdown</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2020-05-09T16:00:00">May 28, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

      <section class="container-lg leadin">
        <p>Since coronavirus quarantines started slowing normal daily life, data show the skies became cleaner and less crowded.</p>

        <p>Satellite observations and other data reveal how human activity on the ground changed what's happening above the clouds, especially air traffic and atmospheric pollution.</p>

        <p>As shelter-in-place rules start to ease in Minnesota and nationwide, these trends are likely to reverse – and some already are in the process.</p>
      </section>

      <div class="rule"></div>
      <section class="container-lg leadin">
        <h2 class="chartTitle">Air traffic dwindled</h2>
        <p>Far fewer planes are soaring over Minnesota compared to earlier this year, as public health guidance discourages air travel and airlines reduce scheduled flights in response to plummeting passenger demand.</p>

        <p>Though many airports remain open and travel is still allowed, fears concerning COVID-19's spread have kept Minnesotans and other Americans mostly on the ground.</p>

        <p>Using sampled snapshots of air traffic tracked by <a href="https://opensky-network.org/" target="new_">The OpenSky Network</a> during the 7:00 p.m. hour shows noticably fewer flights overhead on a Monday in May compared to a Monday in January.</p>
        <p>&nbsp;</p>
      </section>

      <div class="slide" id="flights">
          <div class="legend">
            <div class="l"><span style="color:#7D739C; font-weight:bold;">&#x2015;&nbsp;</span> tracked flight path</div>
          </div>
          <div class="signs"></div>
        <div id="comparison-container1">
            <div id="before1" class="sidemap"><div class="left">January 6, 2020</div></div>
            <div id="after1" class="sidemap"><div class="right">May 11, 2020</div></div>
        </div>
      </div>

        <section class="container-lg leadin">
          <p>Another tracking website, FlightRadar24, <a href="https://www.flightradar24.com/blog/then-and-now-visualizing-covid-19s-impact-on-air-traffic/" target="new_">showed thousands fewer flights over the U.S.</a> between March and April.</p>
          
          <p>Nationally, the TSA reports around 200,000 passengers passing through airport security checkpoints most days in May, about 10 percent of pre-pandemic levels. Agents usually <a href="https://www.tsa.gov/coronavirus/passenger-throughput" target="new_">see more than 2 million people daily</a>.</p>
        </section>


      <div class="rule"></div>
      <section class="container-lg leadin">
        <h2 class="chartTitle">Atmospheric pollution decreased</h2>
          <p>The skies also became somewhat cleaner, for a while, due in part to fewer vehicles on roads thoughout the state.</p>

          <p>The European Space Agency's Copernicus Sentinel-5P satellite measures the volume of nitrogen dioxide (NO2) in the atmosphere, excess of which is a byproduct of human activity as it's formed when fossil fuels are burned at high temperatures.</p>

          <p>Comparing pollution maps from February (shortly before things started slowing down) to April (after a full month of shelter-in-place) shows a noticable reduction in average NO2 emissions – particularly that big cloud around the Twin Cities metro area. The ESA, which has been tracking  <a href="https://www.esa.int/Applications/Observing_the_Earth/Copernicus/Sentinel-5P/Coronavirus_lockdown_leading_to_drop_in_pollution_across_Europe">similar trends elsewhere</a>, attributes these changes to quarantines.</p>
        
          <p>&nbsp;</p>
      </section>

      <div class="slide" id="pollution">
          <div>Nitrogen dioxide density</div>
          <div class="legend">
            <div class="l label">less </div> <div class="l ramp" style="background-color:#eeeeee;"></div><div class="l ramp" style="background-color:#D9D3EB;"></div><div class="l ramp" style="background-color:#B6AED4;"></div><div class="l ramp" style="background-color:#7D739C"></div><div class="l ramp" style="background-color:#62597D;"></div><div class="l ramp" style="background-color:#4A4061;"></div><div class="l ramp" style="background-color:black;"></div> <div class="l label"> more</div>
          </div>
          <div class="signs"></div>
          <div id="comparison-container2">
              <div id="before2" class="sidemap"><div class="left">February 2020</div><img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/20200229-no2.png" /></div>
              <div id="after2" class="sidemap"><div class="right">April 2020</div><img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/20200430-no2.png" /></div>
              
          </div>
      </div>

      <section class="container-lg leadin">
          <p>&nbsp;</p>

          <p>These maps use a month of observations to average out weather anomolies and other daily fluctuations in the readings.</p>

          <p>While some areas may have seen higher NO2 concentrations, the biggest reductions noticed by the ESA were over large cities, and deeper studies are seeking to better understand how COVID-19 has affected pollution.</p>

          <p>Looking at May, as warmer weather arrives and restrictions are scaled back, it seems pollution levels are already starting to increase again in tandem with <a href="https://www.startribune.com/how-minnesotans-are-lightening-up-on-social-distancing/568966921/">normalizing traffic volume on Minnesota's roads</a>.</p>
          
          <p>&nbsp;</p>
      </section>

      <div class="slide" id="pollution2">
          <div class='maplabel'>Nitrogen dioxide density by May 20, 2020</div>
          <img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/20200511-no2.png" />
      </div>

<section class="container-lg">
    <p>&nbsp;</p>
    <div class="bottom_byline">Maps: Jeff Hargarten, Star Tribune • Sources: OpenSky Network, European Space Agency, NOAA, NASA, Google Earth Engine</div>

  <div class="article-author-contact">

        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minnesota's skies changed during lockdown" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
 </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>