   <div class="rule"></div>
        <section class="container-lg leadin">
          <h2 class="chartTitle">Nights got darker</h2>
          <p>Among the initial effects of coronavirus restrictions in China was dimmer city lights, as noticed by researchers at both <a href="https://earthobservatory.nasa.gov/images/146481/nighttime-images-capture-change-in-china" target="new_">NASA</a> and <a href="https://sloanreview.mit.edu/article/monitoring-the-covid-19-crisis-from-space/" target="new_">MIT</a>.

          <p>By analyzing readings from <a href="https://maps.ngdc.noaa.gov/viewers/VIIRS_DNB_nighttime_imagery/index.html" target="new">NOAA and NASA's VIIRS satellite</a>, which measures nighttime radiance from artificial light sources, it was possible to see where areas around Wuhan and other cities darkened.</p>

          <p>Comparing VIIRS readings of the Twin Cities metro area across March compared to previous averages for the month suggests a loss of nightly radiance as Minnesota started shutting down.</p>

          <p>&nbsp;</p>
        </section>

        <div class="slide" id="lights">
            <div>Nightly radiance</div>
            <div class="legend">
                <div class="l label">less </div> <div class="l ramp" style="background-color:#000000;"></div><div class="l ramp" style="background-color:#2A2A2A;"></div><div class="l ramp" style="background-color:#555555;"></div><div class="l ramp" style="background-color:#7F7F7F;"></div><div class="l ramp" style="background-color:#AAAAAA;"></div><div class="l ramp" style="background-color:#D4D4D4;"></div><div class="l ramp" style="background-color:#efefef;"></div> <div class="l label"> more</div>
            </div>
            <div class="signs"><div class="left">&#8678; March 15, 2020</div><div class="right">March 30, 2020 &#8680;</div></div>
            <div id="comparison-container3">
                <div id="after3" class="sidemap"><img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/lights-after.png" /></div>
                <div id="before3" class="sidemap"><img class="overlaid" src="./img/lights-before.png" /></div>
            </div>
        </div>

        <section class="container-lg leadin">
          <p>&nbsp;</p>

          <p>While reduced activity at nights leads to less lighting – and therefore less skyglow – just looking at these satellite images alone can be deceptive since environmental conditions, including snow, can alter how light is reflected.</p>

          <p>An analysis of the clearest VIIRS snapshots from multiple clear nights in February, March and April points to darker nights than average around Minneapolis, St. Paul and its suburbs during lockdown.</p>

          <p>Snowfall this March wasn't too different from 2019, and the changes in lighting, while subtle, were consistetly dimmer than average as businesses started closing or keeping shorter hours while residents stayed home.</p>

          <p>&nbsp;</p>
        </section>

        <div class="slide" id="lights2">
            <div class="adjacent">
              <div class='maplabel'>February 2019 average radiance</div>
              <img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/201902.png" />
            </div>
            <div class="adjacent">
              <div class='maplabel'>February 21, 2020</div>
              <img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/lights-before.png" />
            </div>
  
            <div class="adjacent">
                <div class='maplabel'>March 2019 average radiance</div>
                <img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/201903.png" />
            </div>
            <div class="adjacent">
                <div class='maplabel'>March 30, 2020</div>
                <img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/lights-after.png" />
            </div>
  
            <div class="adjacent">
                <div class='maplabel'>April 2019 average radiance</div>
                <img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/201904.png" />
            </div>
            <div class="adjacent">
              <div class='maplabel'>April 30, 2020</div>
              <img class="overlaid" src="http://static.startribune.com/news/projects/all/20200508-cvskies/img/20200430.png" />
            </div>
          </div>


        <section class="container-lg leadin">
            <p>The International Monetary Fund found that nighttime lights <a href="https://www.imf.org/en/Publications/WP/Issues/2019/04/09/Illuminating-Economic-Growth-46670" target="new_">are a close proxy for economic activity</a>, something <a href="https://www.nasa.gov/feature/goddard/2020/nasa-funds-four-research-projects-on-covid-19-impacts" target="new_">NASA is currently backing new studies</a> to better understand.</p>
    
            <p>With businesses reopening in Minnesota this month, radiance levels are likely to keep intensifying again.</p>
          </section>
